body {
    margin: 0px;
    justify-content: center;
    background-image: url("src/img/background.png");
    background-attachment: fixed;
    background-size: 70px;
}

.container{
    background-color: white
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.language {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.language>img {
    width: 80px;
    object-fit: contain;
}

p {
    color: black;
    user-select: none;
    text-align: justify;
}

.navbar{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.213);
}

.navbar-nav {
    text-align: center;
}

.language img:hover{
    
    animation: scale .1s ease-in forwards;
}



@keyframes scale {
    
    100% {
        transform: scale(1.2);
    }
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.social-media a:hover{
    animation: scale .1s ease-in forwards;
}

.social-media a {
    text-decoration: none;
    color: black;
    font-size: 60px;
}

@media screen and (max-width: 575px) {
    .language{
        display: block;
    }
}